@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #272727;	
	overflow-x: hidden;
}


/*LAYOUT GRIDS*/

.main_container{
	width:100vw;
	height:100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 55vh 36vh 55vh 200px;
	grid-template-areas: 
		"header"
		"brand1"
		"brand3"
		"brand2"
		"footer";
}

header {grid-area: header;}

.brand1 {
	grid-area: brand1; 
	border-top:2px solid rgba(217,217,217,1);
}

.brand2 {
	grid-area: brand2;
	border-top:2px solid rgba(217,217,217,1);
}

.brand3 {
	grid-area: brand3;
	border-top:2px solid rgba(217,217,217,1);
	border-bottom: 2px solid rgba(217,217,217,1);
}

footer {grid-area: footer;}


header{ 
	background-color: rgba(39,39,39,1);
	color:rgba(217,217,217,1);
	text-align: center;
	padding:25px;
	font-family: 'Playfair Display', serif;
	font-size: 35px;
	letter-spacing: 6px;
	display: flex;
	justify-content: space-between;
	align-items:center;

}

.cart{
	background-color: rgba(39,39,39,1);
	position: absolute;
	left:0;
	top:-100vh;
	width: 100vw;
	height:350px;
	z-index: 15;
	transition: top 0.9s;
	padding:120px 30px 60px 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.cart div {
	font-size: 15px;
	text-align: left;
}

.cart div:last-child {margin-left: 67%;}

.line1 {width:100%;}

.line2 {width:100%;}


#shoppingc{
	z-index: 100;
	cursor: pointer;
}

/*MENU*/

nav ul{
	list-style-type: none;
	margin:100px;
}

nav ul li{margin: 20px;}

a{
	color:rgba(217,217,217,1);
	text-decoration: none;
}

a:hover{color:rgba(74,75,75,1);}


/*MENU*/ 
.nav-toggle{
	width: 40px;
	height:26px;
	z-index:14;
	cursor: pointer;
	display: block;
}

.nav-toggle span{
	position: relative;
	height:2px;
	width: 30px;
	background-color:rgba(217,217,217,1);
	display: block;
}

.menu{
	position: absolute;
	top:0;
	margin-top: 100px;
	right:-100vw;
	width:100vw;
	height:100vh;
	background-color: rgba(39,39,39,1);
	z-index: 10;
	font-size: 20px;
	transition: right 0.8s;
}


.nav-toggle span:nth-child(1) {transition: transform 0.8s;}
.nav-toggle span:nth-child(2){transition: transform 0.8s; top:10px;}

input[type="checkbox"] {display: none;}

input[id="toggle"]:checked ~  .menu{right: 0;}

input[id="cartbutton"]:checked ~ .cart{top: 0;}

input[id="toggle"]:checked ~ .nav-toggle span:nth-child(1){
	transform:rotate(45deg);
	background-color: rgba(255,255,255,1);
}

input[id="toggle"]:checked ~ .nav-toggle span:nth-child(2){
	transform:rotate(-45deg);
	top:-3px;
	background-color: white;
}


/*IMG FRONTPAGE*/

[class*="brand"]{ font-size: 40px;}


.brand1{position: relative;}

.brand1::before{
	background-image: url(https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/2/9/29-08-2019_aesop_classicconditioner_200ml_ahr23_tc_1_1.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	content:"";
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
	z-index: -1;
	opacity: 0.5;
}

.brand1 h3{
	font-size: 40px;
	margin-top: 150px;
	margin-left: 10px;
	color:rgba(217,217,217,1);
	z-index: 30;
}

.brand2{position: relative;	}

.brand2::before{
	background-image: url(../img/byredo6.jpeg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	content:"";
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
	z-index: -1;
	opacity: 0.5;
}

.brand3{position: relative;}

.brand3::before{
	background-image: url(../img/Labruketmood.jpeg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	content:"";
	width:100vw;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
	z-index: -1;
	opacity: 0.5;
}

[class*="lable"]{
	background-color: rgba(217,217,217,0.4);
	padding:15px;
	position: absolute;
	bottom: 10vh;
}


[class*="lable"] a {
	color: rgba(0,0,0,1);
}


[class*="lable"]:hover{
	background-color: rgba(217,217,217,0.6);

}

[class*="lable"] img{
	width:150px;
	margin:10px;

}


.lable_aeseop {
	right:0;
	width:200px;
}

.lable_bruket{width:300px;}

.lable_byredo{
	width:250px;
	right:0;
}

footer{
	background-color: rgba(39,39,39,1);
	color:rgba(217,217,217,1);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items:center;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}

.contact h4{
	font-size: 30px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.contact{
	text-align: center;
	margin:10px;
	width:300px;
	
}

.contact p{font-size: 19px;}

.social > a {margin:10px;}



/*Iphone x*/

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

	.main_container{
	grid-template-columns: 1fr;
	grid-template-rows: 100px 46vh 25vh 46vh 200px;
	grid-template-areas: 
		"header"
		"brand1"
		"brand3"
		"brand2"
		"footer";
}

}



/* IPAD*/

@media only screen and (max-width: 959px) and (min-width: 768px) {

	.main_container{
		width: 100vw;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 100px 37vh 30vh 250px;
		grid-template-areas:
			"header header"
			"brand1 brand2"
			"brand3 brand3"
			"footer footer";
	}

	.lable_aeseop{left:0;}
	

	.lable_byredo{right:0;}

	.lable_bruket{left:0;}

	.brand1{border-right:2px solid rgba(217,217,217,1);}

	.brand3::before{background-image: url(../img/Labruket.jpg);}

}


/* CHANGES FOR ALL DESKTOP SIZES */ 

@media only screen and (min-width: 959px){


		.lable_aeseop {left:0;}

		.lable_byredo{margin-left:auto;}

		.lable_bruket {margin-left:0;}

		.brand3::before {background-image: url(../img/Labruket.jpg);}

		header{
			justify-content: space-between;
			padding: 5px 25px 10px 25px;
			display: flex;
		}

		header > a{order:0;}

		#shoppingc{order:2;}
		
		
		/*MENU FOR LAPTOP*/
			
		nav ul{
			list-style-type: none;
			margin:0;
			padding-bottom: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;

		}

		nav ul li{margin:0;} 

		.nav-toggle{display: none;}

		.nav-toggle span{display: none;}

		.menu{
			order:1;
			background-color: rgba(255, 255, 255, 0);
			width: 70%;
			position: static;		
			height:100px;	

		}



}


@media only screen and (max-width: 1199px) and (min-width: 960px) {


		.main_container{
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 100px 65vh 55vh 250px;
			grid-template-areas:
				"header header"
				"brand1 brand2"
				"brand3 brand3"
				"footer footer";
		}
}



@media only screen and (max-width: 1299px) and (min-width: 1200px) {

		.main_container{
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 100px 70vh 70vh 250px;
				grid-template-areas:
					"header header"
					"brand1 brand2"
					"brand3 brand3"
					"footer footer";
		}

}

@media only screen and (min-width: 1300px){
	.main_container{
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 100px 88vh 70vh 250px;
			grid-template-areas:
				"header header"
				"brand1 brand2"
				"brand3 brand3"
				"footer footer";
		}

}



